<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCare"
        tools:targetApi="31">
        <activity
            android:name=".Activity.GetPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.CartLabTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.CartBuyMedicineActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.BuyMedicineBookActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.BuyMedicineDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.BuyMedicineActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.OrderDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.LabTestBookActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.LabTestDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.LabTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.AppointmentActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.DoctorDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.BMIActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.FindDoctorActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>